
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form {
    position: absolute;
    border: 2px solid white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: cadetblue;
    border-radius: 10px;
}

.header {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 32px;
    background-color: #0984e3;
    color: white;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.content button {
    cursor: pointer;
    border: none;
    margin-left: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 20px;
}

.content input {
    border: none;
    border-radius: 5px;
    font-size: 24px;
}